@use 'sass:color';

@use '@picocss/pico/scss/pico' with (
	$semantic-root-element: '#root',
	$enable-semantic-container: true,
);

@use '@picocss/pico/scss/colors' as *;


html {
	overflow-y: scroll;
	scrollbar-color: color.adjust($azure-550, $alpha:-0.75) #290932;
}

.success {
	background-color: #398a3c;
	color: white;
	opacity: 0.9;
}
