@use '@picocss/pico/scss/pico' with (
	$semantic-root-element: '#root',
	$enable-semantic-container: true
);

html {
	overflow-y: scroll;
	scrollbar-color: #734081 #290932;
}

.success {
	background-color: #398a3c;
	color: white;
	opacity: 0.9;
}
